<a href="https://colab.research.google.com/github/kolla118/KOLLA_INFO5731_Spring2020-/blob/main/In_class_exercise_01_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
str = input("Enter a string")
print("length of entered string :", len(str))

Enter a stringkamma
length of entered string : 5

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [96]:
def string(str1):
    x = {}
    for n in str1:
        keys = x.keys()
        if n in keys:
            x[n] += 1
        else:
            x[n] = 1
    return x
print(string('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [13]:
# write your answer here
list=[2,4,5,6,7,1,8]
n=0
for x in list:
  n = x+n
print(n)

33

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [20]:
# write your answer here

def x(st):
  char = st[0]
  st=st.replace(char,'$')
  st=char+st[1:]
  return st
print(x("restart"))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [22]:
# write your answer here

a=1
b=2
S=3.14*(1+a/b)**3
print(S)

10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [24]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
result={**dic1,**dic2,**dic3}
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [39]:
# write your answer here
x=(a,b,1)
y=b
if y in x:
   print("element present")
else:
    print("element not present")

element present

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [41]:
# write your answer here
set={1,2,3,4,5}
print(min(set))
print(max(set))

1
5

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [99]:
# write your answer here
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
x= studnet_list()
size=6
for i in range(0, len(studnet_list), size):
  x.append(studnet_list[i:i+size])
print(x)

TypeError: ignored

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [98]:
# write your answer here
def dup(integers):
  dup1 = ()
  dupno = -1
  for i in range(len(integers)):
    if integers[i] in dup1:
      return integers[i]
    else:
      dup1.add(integers[i])
  return dupno

print(dup([1, 2, 3, 4]))

AttributeError: ignored

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [45]:
# write your answer here
from datetime import date, timedelta

def sundays(YYYY):
  tm = date(YYYY, 1, 1)      
  tm += timedelta(days = 6 - tm.weekday())  
  while tm.year == YYYY:
    yield tm
    tm += timedelta(days = 7)
          
for s in sundays(2021):
   print(s)

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26